.nav-pills .nav-link.active {
    background-color: rgb(136, 133, 133); 
    color: white;          
}

.nav-pills .nav-link {
    
    color: black;
    border-bottom: 1px solid rgb(158, 156, 156);
    
    border-radius: 0;
       
}

.nav-pills .nav-link:hover {
    background-color: #8d8b8b; 
}